<h1>All Pets at <%= @shelter.name %> </h1><br>

<% @shelter.pets.each do |pet| %>
  <img src= <%= pet.image %>><br>
  <h2>Name: <%= link_to pet.name, "/pets/#{pet.id}" %> </h2>
  <p>approximate_age: <%= pet.approximate_age %> </p>
  <p>Gender: <%= pet.sex %> </p>
  <p>Description: <%= pet.description %></p>
  <p>Status: <%= pet.status %> </p>
  <p><%= link_to 'Edit', "/pets/#{pet.id}/edit" %></p>
  <p><%= button_to 'Delete Pet', "/pets/#{pet.id}", method: :delete %></p>
  ---------------------------------------
<% end %>

<p><%= link_to 'Create Pet', "/shelters/#{@shelter.id}/pets/new" %><p>
<p> <%= link_to 'Back to Shelter', "/shelters/#{@shelter.id}" %>
