<h1>All Pets at <%= @shelter.name %> </h1>

<% @shelter.pets.each do |pet| %>
  <img src= <%= pet.image %>><br>
  <p>Name: <%= link_to pet.name, "/pets/#{pet.id}" %> </p>
  <p>Age: <%= pet.approximate_age %> </p>
  <p>Gender: <%= pet.sex %> </p>
  <p>Description: <%= pet.description %></p>
  <p>Status: <%= pet.status %> </p>
<% end %>

<%= link_to 'Add Pet', "/shelters/#{@shelter.id}/pets/new" %>
