<h1><%= @shelter.name %></h1>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %></p>
<p><%= @shelter.state %></p>
<p><%= @shelter.zip %></p>
<p><%= link_to 'View Pets', "/shelters/#{@shelter.id}/pets" %> </p>
<p><%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %><p>
<p><%= button_to 'Delete Shelter', "/shelters/#{@shelter.id}", method: :delete %> </p>
