<h1><%= @shelter.name %></h1>
<h2><%= @shelter.address %></h2>
<h2><%= @shelter.city %></h2>
<h2><%= @shelter.state %></h2>
<h2><%= @shelter.zip %></h2>
<h2><%= link_to 'View pets', "/shelters/#{@shelter.id}/pets" %> </h2>
