<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <img src= <%= pet.image %>><br>
  <h2>Name: <%= pet.name %></h2>
  <p>Approximate age: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Current Shelter: <%= pet.shelter.name %></p>
  <p>Description: <%= pet.description %></p>
  <p>Status: <%= pet.status %> </p><br>
<% end %>
