<h1>All Pets</h1>

<% @pets.each do |pet| %>
  <img src= <%= pet.image %>><br>
  <p>Name: <%= pet.name %></p>
  <p>Approximate ge: <%= pet.approximate_age %></p>
  <p>Sex: <%= pet.sex %></p>
  <p>Current Shelter: <%= pet.shelter.name %></p>
<% end %>
